body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

p,
span,
button,
input {
  font-size: 18pt;
  color: rgb(40, 40, 196);
}

button:hover {
  cursor: pointer;
}

button,
#addWordBtn {
  background-color: rgb(11, 103, 184);
  color: white;
  padding: 10px;
  border-radius: 25px;
  transition: 0.8s;
}

#count {
  margin: 5px;
  margin-bottom: 30px;
}

.trainingBtns {
  padding: 5px;
  font-size: 14pt;
}

.trainingStopBtn {
  background-color: rgba(114, 84, 203, 0.968);
}

.trainingStopBtn:hover {
  background-color: rgba(61, 33, 126, 0.968);
}

.wordText {
  float: left;
  margin: 0;
  padding-right: 20px;
}

.numExamples {
  float: right;
  margin: 0;
  width: 160px !important;
}

.addExBtns {
  width: 140px;
}

.clearBtns {
  background-color: rgba(182, 83, 244, 0.968);
  width: 70px;
}

.clearBtns:hover {
  background-color: rgba(170, 28, 218, 0.968);
}

#text {
  color: white;
  font-size: 40pt;
  margin: 0;
  margin-top: 12px;
}

.trainBtn,
#addWordBtn {
  width: 140px;
}

button:hover,
#addWordBtn:hover {
  background-color: rgb(0, 30, 150);
}

#predBtn {
  position: relative;
  top: 50px;
  left: -90px;
  width: 250px;
}

header {
  height: 152px;
  padding: 0 10%;
  background-color: rgb(225, 242, 236);
  color: rgb(80, 65, 182);
  border-bottom: solid rgb(80, 65, 182) 5px;
}

#title {
  margin: 0;
  float: left;
  position: relative;
  top: 45px;
  margin-right: 50px;
  color: rgb(40, 40, 196);
}

#split-left,
#split-right,
#main {
  margin-top: 157px;
  overflow: scroll;
}

#example-list {
  margin: 0 200px;
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  height: 300px;
}

#listDiv {
  margin: 0 100px;
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  height: 300px;
}

.wordList {
  width: 30%;
  height: 4 0px;
}

#wordListWithBtns {
  display: flex !important;
  flex-flow: row wrap !important;
  justify-content: flex-end !important;
  width: 85% !important;
}

#video {
  display: inline;
  margin: auto;
  margin-top: 80px;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
  height: 400px;
  width: auto;
  z-index: 10;
  background-image: radial-gradient(
    circle,
    rgb(153, 169, 189),
    rgb(104, 118, 135),
    rgb(68, 71, 77)
  );
  border: 5px solid rgb(40, 40, 196);
  border-radius: 5px;
}

#split-left,
#main {
  text-align: center;
  height: 100%;
  left: 0;
  width: 60%;
  position: fixed;
  z-index: 1;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(153, 198, 182);
}

#split-left {
  width: 70%;
}

#split-left h1 {
  color: white;
}

#split-right {
  height: 100%;
  width: 40%;
  border-left: 5px solid rgb(40, 40, 196);
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: rgb(225, 242, 236);
  display: flex;
  justify-content: center;
}

#status {
  width: 250px;
  height: 50px;
  position: absolute;
  z-index: 30;
  top: 157px;
  left: 31%;
  transform: translateX(-50%);
  border: 5px solid rgb(40, 40, 196);
  background-color: purple;
  border-top: none;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#status p {
  margin: 4px;
  color: white;
  font-weight: bold;
  font-size: 22pt;
}

h1 {
  font-family: 'Audiowide', cursive;
  font-size: 80px;
  font-weight: bold;
  line-height: 100%;
}

h1 .subtext {
  font-family: 'Helvetica Neue', 'sans-serif';
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
}

.intro-steps {
  font-size: 36px;
}

#add-word {
  width: 240px;
  float: left;
  margin-top: 20px;
  margin-left: 25%;
  border: 5px solid rgb(40, 40, 196);
  padding: 20px;
  border-radius: 35px;
  background-color: rgb(225, 242, 236);
}

input {
  text-align: center;
}

.centered {
  text-align: center;
  width: 75%;
  margin: auto;
}

#info {
  margin-bottom: 30px;
}

#example-list {
  text-align: left;
}

#signPhrase {
  color: purple;
  font-size: 36pt;
}

#interimText {
  color: purple;
  font-size: 36pt;
}

#answerText {
  color: rgb(40, 40, 196);
  font-size: 36pt;
  font-weight: bold;
}

#loader,
#loader:before,
#loader:after {
  background: rgb(40, 40, 196);
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
#loader {
  color: rgb(40, 40, 196);
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  display: none;
}
#loader:before,
#loader:after {
  position: absolute;
  top: 0;
  content: '';
}
#loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
#loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 10%;
    opacity: 1;
  }
}
